.root {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 18px;
}

.root nav {
	background-color: #000;
	color: #fff;
	padding: 8px;
	display: flex;
	flex-direction: column;
}

@media (min-width: 440px) {
	.root nav {
		flex-direction: row;
		align-items: baseline;
	}
}

.root main {
	background-color: #eee;
	padding: 8px;

	display:flex;
	flex-direction: column;
}

.root nav a {
	text-decoration: none;
	color: inherit;
	display: flex;
	justify-content: center;
	padding: 16px;
}

.root nav a.brand {
	font-weight: 700;
	font-size: 1.5em;
}

.root nav a:not(.brand) {
	text-transform: uppercase;
}

.root nav a:hover {
	background-color: #666;
}

.root main p {
	margin-bottom: 8px;
}

@media (min-width: 900px) {
	.root main p {
		margin: 0px auto;
		width: 900px;
	}
}

.root main form{
	display:flex;
}

.root main form input{
	flex-grow:1;
	margin: 0;
	border-radius: 15px 0px 0px 15px;
}

.root main form button{
	font-weight: 500;
	flex-basis: 100px;
	margin: 0px;
	height: 30px;
	background-color: orange;
	border-radius: 0px 15px 15px 0px;
	text-transform: uppercase;
}

.root main ul{
	margin-top: 20px;

	display:flex;
	flex-wrap:wrap;
}